@model IEnumerable<inventoryMgmt.Models.Project_Nodes_Allocation>

@{
    ViewBag.Title = "Index";
}

<h3>Node Allocation Details</h3>

<p>
    @Html.ActionLink("Allocate new node", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            node id
        </th>
        <th>
            project name
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Node.rack_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "badge badge-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "badge badge-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "badge badge-danger" })
        </td>
    </tr>
    }

</table>
