@model IEnumerable<inventoryMgmt.Models.Node>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originalHostName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ipmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.states)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rack.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originalHostName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ipmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.states)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rack.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
